$primary-color: #ef524c;
$button-color: #ef524c;
$button-color--hover: #d24335;
$button-color--disable: #d7d7d7;
$button-color-text: #fff;
$button-color-text--disable: #8d8c8c;
$secondary-color: #007bff;
$background-color: #fff;
$background-color-2: #f9f9f3;
$mobile-menu-line: #e1e1e1;
$link--active: #2a5692;
$link--hover: #d24335;
$text: #000;
$text-secondary: #585756;

$input-border: #ced4da;
$input-placeholder: #ced4da;
$input-border--focus: #80bdff;
$input-border--focus-secondary: #e6f2ff;
$input-border--error: #db3445;
$input-border--error-secondary: #f8d6da;
$input-error: #f55043;
$input-assistive-text: #80878e;
$input-file-button: #f8f7f5;

$tooltips: #333333;

$transition-primary: .3s ease;
