@import "../../../App/variables";

.btn {
  border-radius: 4px;
  width: 210px;
  height: 38px;
  outline: unset;
  border: unset;
  font-size: 16px;
  font-family: "OpenSans" , sans-serif;
  font-weight: bolder;
  line-height: 1.2;
  text-align: center;
  transition: $transition-primary;
  cursor: pointer;
}

.btn-primary {
  background: $button-color;
  color: $button-color-text;

  &:hover {
    background: $button-color--hover;
  }

  &:disabled {
    background: $button-color--disable;
    color: $button-color-text--disable;
  }
}

.btn-flat {
  width: unset;
  height: unset;
  background: unset;
  color: $button-color;

  &:hover {
    color: $button-color--hover;
  }
}

.btn--hide {
  visibility: hidden;
}



