@import "../../../../App/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 360px;
  max-width: 1170px;
  height: 40px;
  box-sizing: border-box;
  padding: 0 15px;
  position: fixed;
  background: $background-color;
  z-index: 1001;
}

@media screen and (min-width: 768px) {
.header {
  height: 60px;
  padding: 0 30px;
}
}



